* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

body{
  scroll-behavior: smooth;
}

img,svg {
  display: block;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.flex {
  display: flex;
}

section {
  padding: 3rem 0;
}

section header {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-inline: 1rem;
}

h2.sectionHeader {
  font-size: 2rem;
  font-weight: 700;
}

section header a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

section header a:hover,
section header a:focus {
  gap:0.5rem;
  text-decoration: underline;
}

section header a svg {
  font-size: 0.75em;
  font-weight: bold;
}